.modal {
  align-items: center;
	display: none;
  height: 100%;
	justify-content: space-around;
  position: absolute;
  width: 100%;
}

.modalScreen {
  background-color: lightgray;
  height: 100%;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  z-index: 1;
}