.addMusicContainer {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: space-around;
  width: 40%;
  z-index: 10;
}

.addMusicCreateButton {
  align-items: center;
  background-color: #DBFBDA;
  border: 1px solid lightgray;
  cursor: pointer;
  display: flex;
  height: 60px;
  justify-content: center;
  width: 66%;
}

.addMusicCreateButton:focus,
.addMusicCreateButton:hover {
  background-color: #bff7bc;
}

.addMusicInput {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  font-size: 14px;
  padding: 0px 16px 0px 16px;
  width: 80%;
}

.addMusicInput:focus {
  outline: none;
}

.addMusicTitle {
  align-items: center;
  display: flex;
  border-bottom: 1px solid black;
  justify-content: center;
  padding: 0px 0px 16px 0px;
  width: 90%;
}

.addMusicVideos {
  height: 50%;
  overflow-y: scroll;
}